
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Special+Elite&display=swap');


.App {
  text-align: center;
  
}

body {
  background-color: #0B132B;
  margin-top: 5rem;
  margin-left: 15rem;
  margin-right: 15rem;
}



#main-title {
  color: #6FFFE9;
  background-color: #463e45;
  font-family: 'Exo 2', sans-serif;
}

#date-component {
  background-color: #1C2541;
  padding: 3rem;
  color: rgb(242, 224, 245);
}

#copyright_footer {
  font-size: .25rem;
}

.headings {
  font-family: 'Special Elite', cursive;
  font-weight: 900;
}

#photo-component {
  background-color: #3A506B;
}

img {
  max-width: 75%;
  padding: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
